<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-11 col-sm-12 col-11 mx-auto ">
            <div class="row profile_div mb-5">
            <!-- profile div -->
                <div class="col-md-3   col-sm-12 col-11 pic_div">
                    <div class="row pic">
                        <img src="assets\img\profile1.jpg" alt="">
                    </div>
                    <div class="row info">Raju Rastogi</div>
                    <div class="row info">4.5/5</div>
                    <div class="row info ">(a freelancer)</div>
                    <div class="row info">a member since may 2019</div>
                </div>
                <div class="col-md-6  col-sm-12 col-11 bio">
                    <div class="content">
                        <h3>Making it all scence</h3>
                    <div class="income">
                        <h6 class=""><i class="fa fa-money" aria-hidden="true"></i>
                            $360.00 / hr <span>Canada</span></h6>
                            <button class="btn mb-2">Follow</button>
                    </div>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam magnam ad exercitationem ducimus accusamus veniam fugiat voluptas optio cupiditate aliquid doloremque quo, perspiciatis consectetur? Exercitationem culpa repellat animi ullam quo!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, repellendus eum ipsam rerum qui unde, commodi exercitationem ab corporis facilis molestiae alias esse consequuntur et totam autem! Eos eaque quia saepe quo aut officiis vitae, tempore voluptas libero non deleniti provident magnam cupiditate sint dolore aspernatur atque placeat quasi natus nihil in! Voluptate quibusdam, culpa porro reprehenderit consequuntur quasi perspiciatis aspernatur tempora expedita possimus, veniam, praesentium fuga labore commodi nobis deleniti sed adipisci nam. Ducimus dolorem ullam enim sed minus qui corporis molestias libero, explicabo doloribus possimus, unde numquam quibusdam expedita sit porro nemo impedit. Ad laudantium suscipit quidem minus.
                    </p>
                    </div>
                    <div class="read-more d-flex justify-content-end">
                        <a href="#"  class="">Read More</a>
                    </div>
                </div>
                <div class="col-md-3  col-sm-12 col-11 blog-control">
                    <div class="row">
                        <div class=" col-6 block  my-profile">
                            <a href="#" class="btn">
                                <div class="icon">
                                    <i class="fa fa-2x fa-user" aria-hidden="true"></i>
                                </div>
                                <div class="text d-flex justify-content-center">
                                    Profile
                                </div>
                            </a>
                        </div>
                        <div class=" col-6 block  my-blog">
                            <a href="#" class="btn">
                            <div class="icon">
                                <i class="fa fa-2x fa-pencil-square-o" style="color: red;" aria-hidden="true"></i>
                            </div>
                            <div class="text d-flex justify-content-center">
                                Blog
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-6 block likes">
                            <a href="#" class="btn">
                            <div class="icon">
                                <div style="color: #44bd32;">112</div>
                            </div>
                            <div class="text d-flex justify-content-center">
                                Like
                            </div>
                            </a>
                        </div>
                        <div class=" col-6 block collections">
                            <a href="#" class="btn">
                            <div class="icon">
                                <div  style="color: #273c75;">10</div>
                            </div>
                             <div class="text d-flex justify-content-center">
                                    Collections
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-6 block followers">
                            <a href="#" class="btn">
                            <div class="icon">
                                <div  style="color: #c23616;">20</div>
                            </div>
                            <div class="text d-flex justify-content-center">
                                Followers
                            </div>
                            </a>
                        </div>
                        <div class=" col-6 block my-Gigs">
                            <a href="#" class="btn">
                            <div class="icon">
                                <div  style="color: #00a8ff;">50</div>
                            </div>
                            <div class="text d-flex justify-content-center">
                                Gigs
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-6 block my-nft">
                            <a href="#" class="btn">
                            <div class="icon">
                                <i class="fa fa-briefcase" aria-hidden="true"></i>
                            </div>
                            <div class=" text d-flex justify-content-center">
                                NFT
                            </div>
                            </a>
                        </div>
                        <div class=" col-6 block my-stories">
                            <a href="#" class="btn">
                            <div class="icon">
                                <i class="fa fa-book" aria-hidden="true"></i>
                            </div>
                            <div class="text d-flex justify-content-center">
                                Stories
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 d-flex justify-content-center">
                            <button class="btn ">Contact Me</button>
                        </div>
                    </div>
                </div>
            </div>
             <!-- profile row ends -->
            <!-- fans row starts -->
            <div class="row ">
                <div class="col-md-9 col-lg-9 col-sm-12  col-11 ">
                    <!-- fan follers -->
                    <div class="row fans">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-11">
                            <div class="row">
                                 <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="follow">
                                        <ul>
                                            <li><a href="#"></a>Following</li>
                                            <li><a href="#"></a>Followers</li>
                                        </ul>
                                    </div> 
                                 </div>  
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12 col-sm-6 col-6">
                                    <div class="card-deck">
                                        <div class="card mb-4"style="min-width: 12rem; max-width: 12rem;" >
                                            <div class="card-body" >
                                                <img src="assets/img/profile1.jpg" alt="profile">
                                                <div class="d-flex justify-content-between">
                                                    <small><span>10K Followers</span></small>
                                                    <small><span><i class="fa fa-user"></i> View Profile</span></small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-4"style="min-width: 12rem; max-width: 12rem;" >
                                            <div class="card-body" >
                                                <img src="assets/img/profile1.jpg" alt="profile">
                                                <div class="d-flex justify-content-between">
                                                    <small><span>10K Followers</span></small>
                                                    <small><span><i class="fa fa-user"></i> View Profile</span></small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-4"style="min-width: 10rem; max-width: 10rem;" >
                                            <div class="card-body" >
                                                <img src="assets/img/profile1.jpg" alt="profile">
                                                <div class="d-flex justify-content-between">
                                                    <small><span>10K Followers</span></small>
                                                    <small><span><i class="fa fa-user"></i> View Profile</span></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-12 col-sm-6 col-6">
                                        <div class="card-deck">
                                            <div class="card mb-4"style="min-width: 12rem; max-width: 12rem;" >
                                                <div class="card-body" >
                                                    <img src="assets/img/profile1.jpg" alt="profile">
                                                    <div class="d-flex justify-content-between">
                                                        <small><span>10K Followers</span></small>
                                                        <small><span><i class="fa fa-user"></i> View Profile</span></small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card mb-4"style="min-width: 12rem; max-width: 12rem;" >
                                                <div class="card-body" >
                                                    <img src="assets/img/profile1.jpg" alt="profile">
                                                    <div class="d-flex justify-content-between">
                                                        <small><span>10K Followers</span></small>
                                                        <small><span><i class="fa fa-user"></i> View Profile</span></small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card mb-4"style="min-width: 10rem; max-width: 10rem;" >
                                                <div class="card-body" >
                                                    <img src="assets/img/profile1.jpg" alt="profile">
                                                    <div class="d-flex justify-content-between">
                                                        <small><span>10K Followers</span></small>
                                                        <small><span><i class="fa fa-user"></i> View Profile</span></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- fans row ends -->
                    <!-- member row starts -->
                    <div class="row members my-5">
                        <div class="col-md-12 col-sm-12 col-11 member">
                            <h4 class="mb-10">Agencies I'm member of</h4>
                            <div class="row ">
                                <div class="col-md-3 col-6 mt-10 col-offset-2 col-lg-3 agency-pic">
                                    <img src="assets/img/profile.jpg" alt="">
                                </div>
                                <div class="col-md-6 col-6 m-2 px-5 col-lg-6">
                                    <small>Raju Rastogi</small>
                                    <div>Web content Developer</div>
                                    <div class="d-flex justify-content-between">
                                        <small><span>Basic Level</span></small>
                                        <small><span>EngLand</span></small>
                                        <small><span> july 10,2019 to july 10,2020</span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- member row ends -->
                    <!-- insta feeds row starts -->
                    <div class="row insta-feeds mb-5">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-11 ">
                            <h4>My Insta Feeds</h4>
                            <div class="row insta-feed ">
                                <div class="first">
                                    <div class="row">
                                        <div class="col-12 insta-pic">
                                            <img src="assets\img\profile1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center mt-3">
                                        videohive
                                    </div>
                                    <div class="row d-flex justify-content-center ">
                                        <a href="#">www.videohive.in</a>
                                    </div>
                                </div>
                                <div class="second">
                                    <div class="row">
                                        <div class="col-12 insta-pic">
                                            <img src="assets\img\profile1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center mt-3 ">
                                        videohive
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <a href="#">www.videohive.in</a>
                                    </div>
                                </div>
                                <div class="third">
                                    <div class="row">
                                        <div class="col-12 insta-pic">
                                            <img src="assets\img\profile1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center mt-3">
                                        videohive
                                    </div>
                                    <div class="row d-flex justify-content-center ">
                                        <a href="#">www.videohive.in</a>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                     <!-- insta feeds row ends -->
                    <!-- Experience sidebar row starts -->
                    <div class="row mt-5  work-experience">
                        <div class="col-md-12 col-lg-12 p-3 col-sm-12 col-11 experience">
                            <h6>Experience</h6>
                            <div class="row mt-3 px-3 pb-5">
                                <div class=" col-md-12 work">
                                    <div>Web & Apps Project Manager</div>
                                    <div class="row">
                                        <div class="col-6">
                                            <i class="fa mt-2 mr-2 fa-building" aria-hidden="true"></i><small>amento</small>
                                        </div>
                                        <div class="col-6">
                                            <i class="fa mt-2 mr-2 fa-calendar" aria-hidden="true"></i><small>july 2019 to Present</small>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid perspiciatis asperiores dolor amet quam esse saepe odio commodi quisquam, autem, soluta, cupiditate velit eligendi quae tenetur earum odit minus."</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row pb-5">
                                <div class=" col-md-12 work">
                                    <div>Web & Apps Project Manager</div>
                                    <div class="row ">
                                        <div class="col-6">
                                            <i class="fa mt-2 mr-2 fa-building" aria-hidden="true"></i><small>amento</small>
                                        </div>
                                        <div class="col-6">
                                            <i class="fa mt-2 mr-2 fa-calendar" aria-hidden="true"></i><small>july 2019 to Present</small>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid perspiciatis asperiores dolor amet quam esse saepe odio commodi quisquam, autem, soluta, cupiditate velit eligendi quae tenetur earum odit minus."</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row pb-5">
                                <div class=" col-md-12 work">
                                    <div>Web & Apps Project Manager</div>
                                    <div class="row ">
                                        <div class="col-6">
                                            <i class="fa mt-2 mr-2 fa-building" aria-hidden="true"></i><small>amento</small>
                                        </div>
                                        <div class="col-6">
                                            <i class="fa mt-2 mr-2 fa-calendar" aria-hidden="true"></i><small>july 2019 to Present</small>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid perspiciatis asperiores dolor amet quam esse saepe odio commodi quisquam, autem, soluta, cupiditate velit eligendi quae tenetur earum odit minus."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  row ends -->
                    <!-- Education row starts -->
                    <div class="row mt-5 educations">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-11 education">
                            <h6>Education</h6>
                            <div class="row mt-3 px-3 pb-5">
                                <div class=" col-md-12 work">
                                    <div>Web & Apps Project Manager</div>
                                    <div class="row">
                                        <div class="col-6">
                                            <i class="fa mt-2 mr-2 fa-building" aria-hidden="true"></i><small>amento</small>
                                        </div>
                                        <div class="col-6">
                                            <i class="fa mt-2 mr-2 fa-calendar" aria-hidden="true"></i><small>july 2019 to Present</small>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid perspiciatis asperiores dolor amet quam esse saepe odio commodi quisquam, autem, soluta, cupiditate velit eligendi quae tenetur earum odit minus."</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row px-3 pb-5">
                                <div class=" col-md-12 work">
                                    <div>Web & Apps Project Manager</div>
                                    <div class="row ">
                                        <div class="col-6">
                                            <i class="fa mt-2 mr-2 fa-building" aria-hidden="true"></i><small>amento</small>
                                        </div>
                                        <div class="col-6">
                                            <i class="fa mt-2 mr-2 fa-calendar" aria-hidden="true"></i><small>july 2019 to Present</small>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid perspiciatis asperiores dolor amet quam esse saepe odio commodi quisquam, autem, soluta, cupiditate velit eligendi quae tenetur earum odit minus."</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row px-3 pb-5">
                                <div class=" col-md-12 work">
                                    <div>Web & Apps Project Manager</div>
                                    <div class="row ">
                                        <div class="col-6">
                                            <i class="fa mt-2 mr-2 fa-building" aria-hidden="true"></i><small>amento</small>
                                        </div>
                                        <div class="col-6">
                                            <i class="fa mt-2 mr-2 fa-calendar" aria-hidden="true"></i><small>july 2019 to Present</small>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid perspiciatis asperiores dolor amet quam esse saepe odio commodi quisquam, autem, soluta, cupiditate velit eligendi quae tenetur earum odit minus."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                      <!--  Education row ends -->
                    <!-- Side bar col starts -->
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12 col-11  person-info">
                    <!-- skills sidebar row starts -->
                    <div class="row mb-10 skills">
                        <h4>My Skills</h4>
                        <div class="col-sm-12 skill">
                            <div class="d-flex justify-content-between">
                                <div><small>PHP</small></div>
                                <div><small>77%</small></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="height:5px;width: 77%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                        </div>
                        <div class="col-sm-12 skill">
                            <div class="d-flex justify-content-between">
                                <div><small>SEO</small></div>
                                <div><small>80%</small></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="height:5px;width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                        </div>
                        <div class="col-sm-12 skill">
                            <div class="d-flex justify-content-between">
                                <div><small>Website Design</small></div>
                                <div><small>60%</small></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="height:5px;width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                        </div>
                        <div class="col-sm-12 skill">
                            <div class="d-flex justify-content-between">
                                <div><small>Wordpress</small></div>
                                <div><small>70%</small></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="height:5px;width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                        </div>
                        <div class="col-sm-12 skill">
                            <div class="d-flex justify-content-between">
                                <div><small>My Sql</small></div>
                                <div>80%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="height:5px;width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                        </div>
                        <div class="col-sm-12 skill">
                            <div class="d-flex justify-content-between">
                                <div><small> Graphic Design</small></div>
                                <div>40%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="height:5px;width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                        </div>
                        <div class="col-sm-12 skill">
                            <div class="d-flex justify-content-between">
                                <div><small>Java Script</small></div>
                                <div><small></small></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="height:5px;width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                        </div>
                        <div class="col-sm-12 skill">
                            <div class="d-flex justify-content-between">
                                <div><small>CSS 3</small></div>
                                <div><small>75%</small></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="height:5px;width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                        </div>
                        <div class="col-sm-12 skill">
                            <div class="d-flex justify-content-between">
                                <div><small>HTML 5</small></div>
                                <div><small>85%</small></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="height:5px;width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                        </div>
                    </div>
                    <!-- skills sidebar row ends -->
                    <!-- Awards sidebar row starts -->
                    <div class="row  award">
                        <h4>Awards and Cetification</h4>
                        <div class="col-12">
                            <div class="row my-2">
                                <div class="col-3">
                                    <img src="assets/img/profile.jpg" style="width: 50px; height: 50px;" alt="certificate">
                                </div>
                                <div class="col-9 award-info">
                                    <div> Best Logo Designer Winner</div>
                                   <div><i class="fa fa-calendar" aria-hidden="true"></i>
                                    August 5, 2019
                                </div>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-3">
                                    <img src="assets/img/profile.jpg" style="width: 50px; height: 50px;" alt="certificate">
                                </div>
                                <div class="col-9 award-info">
                                    <div> Best Logo Designer Winner</div>
                                   <div><i class="fa fa-calendar" aria-hidden="true"></i>
                                    August 5, 2017
                                </div>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-3">
                                    <img src="assets/img/profile.jpg" style="width: 50px; height: 50px;" alt="certificate">
                                </div>
                                <div class="col-9 award-info">
                                    <div> Best Logo Designer Winner</div>
                                   <div><i class="fa fa-calendar" aria-hidden="true"></i>
                                    August 5, 2016
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- awards sidebar row ends -->
                    <!-- freelancer sidebar row starts -->
                    <div class="row freelancer">
                        <h4>Similar Freelancers</h4>
                            <div class="tag">
                                    <a href="#" class="tags">PHP</a>
                                    <a href="#" class="tags">HTML 5</a>
                                    <a href="#"class="tags">CSS 3</a>
                                    <a href="#"class="tags">Graphic Designer</a>
                                    <a href="#"class="tags">JQuery</a>
                                    <a href="#"class="tags">Javascript</a>
                                    <a href="#"class="tags">Angular</a>
                                    <a href="#"class="tags">Nodejs</a>
                            </div>
                    </div>
                     <!-- freelancer sidebar row ends -->
                    <!-- socials sidebar row starts -->
                    <div class="row social-links">
                        <h4>Share This Freelancer</h4>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa fa-linkedin" style="color: #0077B5;" aria-hidden="true"></i>
                                </div>
                                <div class="col-8">
                                    <span>
                                        Share on LinkedIn
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa fa-facebook" style="color: #3b5999;" aria-hidden="true"></i>
                                </div>
                                <div class="col-8">
                                    <span>
                                        Share on Facebook
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa fa-twitter" style="color: #55acee;" aria-hidden="true"></i>
                                </div>
                                <div class="col-8">
                                    <span>
                                        Share on Twitter
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa fa-pinterest-p" style="color: #bd081c;" aria-hidden="true"></i>
                                </div>
                                <div class="col-8">
                                    <span>
                                        Share on Pinterest
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- socials sidebar row ends -->
                    <!-- Extrs sidebar row starts -->
                    <div class="row small">
                        <div>Do you have any special requirement</div>
                        <a href="" class="btn"> Report This Gigs</a>
                    </div>
                </div>  
                         
            </div>
        </div>
    </div>
</div>