<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-11 mx-auto">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12 col-11 products ">
                    <h5>Feature Products</h5>
                    <div class=" row mb-2">
                        <div class="col-4 item-pic">
                            <img src="assets/img/a.jpg" alt="" >
                        </div>
                        <div class="col-8 item-name">
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                    <div class=" row mb-2">
                        <div class="col-4 item-pic">
                            <img src="assets/img/b.jpg" alt="" >
                        </div>
                        <div class="col-8 item-name">
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                    <div class=" row mb-2">
                        <div class="col-4 item-pic">
                            <img src="assets/img/c.jpg" alt="" >
                        </div>
                        <div class="col-8 item-name">
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                    <div class=" row mb-2">
                        <div class="col-4 item-pic">
                            <img src="assets/img/d.jpg" alt="" >
                        </div>
                        <div class="col-8 item-name">
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-11 products ">
                    <h5>Feature Products</h5>
                    <div class=" row mb-2">
                        <div class="col-4 item-pic">
                            <img src="assets/img/a.jpg" alt="" >
                        </div>
                        <div class="col-8 item-name">
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                    <div class=" row mb-2">
                        <div class="col-4 item-pic">
                            <img src="assets/img/b.jpg" alt="" >
                        </div>
                        <div class="col-8 item-name">
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                    <div class=" row mb-2">
                        <div class="col-4 item-pic">
                            <img src="assets/img/c.jpg" alt="" >
                        </div>
                        <div class="col-8 item-name">
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                    <div class=" row mb-2">
                        <div class="col-4 item-pic">
                            <img src="assets/img/d.jpg" alt="" >
                        </div>
                        <div class="col-8 item-name">
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-11 products ">
                    <h5>Feature Products</h5>
                    <div class=" row mb-2">
                        <div class="col-4 item-pic">
                            <img src="assets/img/a.jpg" alt="" >
                        </div>
                        <div class="col-8 item-name">
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                    <div class=" row mb-2">
                        <div class="col-4 item-pic">
                            <img src="assets/img/b.jpg" alt="" >
                        </div>
                        <div class="col-8 item-name">
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                    <div class=" row mb-2">
                        <div class="col-4 item-pic">
                            <img src="assets/img/c.jpg" alt="" >
                        </div>
                        <div class="col-8 item-name">
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                    <div class=" row mb-2">
                        <div class="col-4 item-pic">
                            <img src="assets/img/d.jpg" alt="" >
                        </div>
                        <div class="col-8 item-name">
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-11 col-11">
                    <div class="subscribe">
                        <div class="text">
                            <p><i class="fa fa-paper-plane" aria-hidden="true"></i>
                                SignUp Our News Latter <small>...and Get <b>20% off Your First Order</b> </small>
                            </p>
                        </div>
                        <div class="text-field">
                            <input type="text" name="" size="" ><button class="btn" style="color:#fff;background-color: #000;">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-6 col-lg-3 footer-links">
                    <div class="links">
                        <ul>
                            <h6>Shortcuts</h6>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 col-lg-3 footer-links">
                    <div class="links">
                        <ul>
                            <h6>Make Money With Us</h6>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 col-lg-3 footer-links">
                    <div class="links">
                        <ul>
                            <h6>Support</h6>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 col-lg-3 footer-links">
                    <div class="links">
                        <h6>Shortcuts</h6>
                        <ul>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                            <li><a href="#"><small>lorem ispu sund</small></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>