<div class="container">
    <div class="row">
        <div class="col-md-12 col-11 mx-auto">
            <h4>List</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-11 " *ngFor = "let list of lists">
            <div class="card mb-2">
                <div class="row">
                    <div class="col-md-12 col-11">
                        <div class="row detail">
                            <div class="col-md-6 col-6">
                                Site Id
                            </div>
                            <div class="col-md-6 col-6">
                                {{list.site_id}}
                            </div>
                        </div>
                        <div class="row detail">
                            <div class="col-md-6 col-6">
                                Site Name
                            </div>
                            <div class="col-md-6 col-6">
                                {{list.site_name}}
                            </div>
                        </div>
                        <div class="row detail">
                            <div class="col-md-6 col-6">
                                Effective Date
                            </div>
                            <div class="col-md-6 col-6">
                                {{list.effective_date}}
                            </div>
                        </div>
                        <div class="row detail">
                            <div class="col-md-6 col-6">
                                Status
                            </div>
                            <div class="col-md-6 col-6">
                                {{list.status}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>